.talk-moment {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
    }
    &__vertical {
        height: 150px;
        background: gray;
        width: 1px;
        position: absolute;
        top: 60px;
    }
    &__time {
        margin-top: 50px;
    }
}