<div class="container visualizer" *ngIf="wavedata">

  <div class="row visualizer__track">
    <div class="col" (mousemove)="trackMove($event)" (click)="tranckClick($event, customerTime)" #titleText>
      <div *ngFor="let customerTime of wavedata.talkTimes.customer" [style.marginLeft.%]="customerTime[3]" [style.width.%]="customerTime[2]"
        [style.background]="'red'" class="visualizer__talk">&nbsp;</div>
    </div>
  </div>


  <div class="row visualizer__track">
    <div class="col" (mousemove)="trackMove($event)" (click)="tranckClick($event, customerTime)" #titleText>
      <div *ngFor="let userTime of wavedata.talkTimes.user" [style.marginLeft.%]="userTime[3]" [style.width.%]="userTime[2]" [style.background]="'green'"
      class="visualizer__talk">&nbsp;</div>
    </div>
  </div>

  <app-time-indicator [talkMoment]="talkMoment"></app-time-indicator>

</div>